-# frozen_string_literal: true
-# locals: (cols: { sm: 2, lg: 3, xl: 4 }, gutter: 3, elements: nil, css_class: nil, data: nil)

- unless elements&.none?
  .row.row-cols-1{ class: [css_class, "g-#{gutter}", *cols.map { "row-cols-#{_1}-#{_2}" }].compact, data: }
    - if elements
      - elements.each_with_index do |element, index|
        .col
          -# Yielding a symbol is not possible, it would be equivalent to `content_for(symbol)`
          = yield element.if(Symbol, &:to_s), index
    - else
      = yield
