-# frozen_string_literal: true
-# locals: (id:, css_class: nil, cols: nil, offset: {}, margin: 4)

- offset_classes = offset.flat_map { ["col-#{_1}-#{12 - _2 * 2}", ("offset-#{_1}-#{_2}" if _2 > 0)] }.compact

= section id, css_class: do |section_i18n_scope|
  %h2
    = t :headline, scope: section_i18n_scope

  = md_to_html t(:intro, scope: section_i18n_scope, default: nil)

  .row{ class: "mt-#{margin}" }
    %div{ class: offset_classes }
      = component :row_cols, cols:, css_class: "mb-5" do |row_cols|
        - t(:items, scope: section_i18n_scope).each do |item|
          = row_cols.with_col do
            = component :card, title: item[:headline], css_class: "h-100" do
              - if text = item[:text]
                = md_to_html text

  = md_to_html t(:text, scope: section_i18n_scope, default: nil), add_class_to_first_paragraph: "mt-#{margin}"
