-# frozen_string_literal: true

!!!

%html{ lang: I18n.locale }

  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %title
      = page_title
    = all_head_tags

  %body.min-h-screen.bg-base-200.text-base-content
    = render "baseline/admin/navbar"
    .py-8{ class: container_css_class }
      = flashes
      = yield
