-# frozen_string_literal: true

- render_image = ->(css_class = nil) do
  - image = helpers.capture_haml do
    - css_class = [css_class, class_names("border", "object-fit-cover", "square-#{@size}", "rounded-circle": @circle)].compact
    - case @imageable
    - when String
      = image_tag @imageable, class: css_class
    - when ActiveStorage::Attached, ActiveStorage::Blob
      - if @imageable.try(:attached?) == false
        - raise "Attachment is missing: #{@imageable.id}"
      = component(:attachment_image, @imageable, :md_thumb, class: css_class)
    - else
      - raise "Unexpected @imageable: #{@imageable.class}"
  - image.if(@image_wrapper) { _2 } # Since `@image_wrapper` is a Proc, the second argument passed to the block is `@image_wrapper.call(image)`.

- case
- when content
  .d-flex{ class: class_names(@css_class, "flex-column": @vertical, "align-items-#{@align_items}": true), data: @data }
    = render_image.call "#{@vertical ? 'mb' : 'me'}-#{@margin}"
    -# Wrap content in a div to prevent it from being affected by the flex properties of the parent container.
    %div
      = content
- when @data || @css_class
  %div{ class: @css_class, data: @data }
    = render_image.call
- else
  = render_image.call
