-# frozen_string_literal: true

- render_image = ->(css_class = nil) do
  - image = helpers.capture_haml do
    - css_class = [css_class, class_names("border", "align-self-center", "square-#{@size}", "rounded-circle": @circle)].compact
    - case @imageable
    - when String
      = image_tag @imageable, class: css_class
    - when ActiveStorage::Attached, ActiveStorage::Blob
      - if @imageable.try(:attached?) == false
        - raise "Attachment is missing: #{@imageable.id}"
      = component(:attachment_image, @imageable, :md_thumb, class: css_class)
    - else
      - raise "Unexpected @imageable: #{@imageable.class}"
  - image.if(@image_wrapper) { _2 } # Since `@image_wrapper` is a Proc, the second argument passed to the block is `@image_wrapper.call(image)`.

- case
- when content
  - if @vertical
    .d-flex.flex-column.align-items-center{ data: @data }
      = render_image.call "mb-#{@margin}"
      = content
  - else
    .d-flex{ data: @data }
      = render_image.call "me-#{@margin}"
      .d-flex.overflow-auto
        .align-self-center.overflow-auto
          = content
- when @data
  %div{ data: @data }
    = render_image.call
- else
  = render_image.call
