-# frozen_string_literal: true

= helpers.turbo_frame_tag :contact_request_form do
  - form_with model: [:web, @contact_request], data: @data, authenticity_token: false do |form|

    - if @contact_request.errors.any?
      .error-message.mb-3
        = icon :warning
        = @texts.fetch(:error)
        %br
        = @contact_request.errors.full_messages.join(tag.br).html_safe

    = form.hidden_field :kind
    = hidden_field_tag :success_message, @texts.fetch(:success)

    - @contact_request.fields.each_with_index do |fields, index|
      - if fields.is_a?(Array)
        - raise "Unexpected number of fields: #{fields.size}" unless fields.size.in?(2..3)
        .row.gx-3
          - fields.each do |field|
            %div{ class: "col-sm-#{12 / fields.size}" }
              = render_field form, field
      - else
        = render_field form, fields

    .d-flex.flex-column.gap-4{ class: class_names("justify-content-between flex-#{@button_row_breakpoint}-row gap-#{@button_row_breakpoint}-0": @button_row_breakpoint) }
      = form.button class: "btn btn-#{@button_color} align-self-sm-start" do
        = icon "paper-plane", version: :solid
        = t :submit
      .d-none.text-center{ data: @turnstile_stimco.target(:container) }
