-# frozen_string_literal: true

- button_classes = class_names("btn", "btn-#{@button_size}" => @button_size)

- actions = helpers.capture_haml do
  = content
  = component :modal_close_button, wrapper: false
  = @form.button class: [*button_classes, "btn-#{@submit_color}", @submit_css_class], data: @submit_data, disabled: @submit_disabled do
    - safe_join [component(:icon, @submit_icon), @submit_label], " "

- case
- when ::Current.modal_request
  .d-none{ data: helpers.stimco(:modal, to_h: false).target(:footer_content) }
    = actions
- when @horizontal
  .row
    .col{ class: form_classes(type: :label, prefix: "offset") }
      = actions
- else
  = actions
