-# frozen_string_literal: true

.mb-4{ @wrapper_attributes }

  - if @vertical_label || @horizontal_label
    = label_tag

  .form-value{ @value_attributes }
    = try :extra_field_content, :above, @form, @attribute

    - if @suffix
      .input-group
        = content_for_type
        %span.input-group-text
          = @suffix
    - else
      = content_for_type

    - if @floating_label
      = label_tag

    - if @help_text
      .small.form-text.text-body-secondary
        = md_to_html @help_text

    - if @errors.present?
      .invalid-feedback
        = @errors.join(", ")

    = suggestions

    = try :extra_field_content, :below, @form, @attribute

    - if @hint
      .small.text-body-secondary.mt-1
        = md_to_html @hint
