-# frozen_string_literal: true

%div{ @wrapper_attributes }

  - if @vertical_label || @horizontal_label
    = label_tag

  .form-value{ @value_attributes }
    = try :extra_field_content, :above, @form, @attribute

    - if @hint
      = md_to_html @hint

    - if @suffix
      .input-group
        = content_for_type
        - case @suffix
        - when String
          %span.input-group-text
            = @suffix
        - when Proc
          = @suffix.call(self)
        - else raise "Unexpected suffix type: #{@suffix.class}"
    - else
      = content_for_type

    - if @floating_label
      = label_tag

    - if @help_text
      .small.form-text.text-body-secondary
        = md_to_html @help_text

    - if @errors.present?
      .invalid-feedback
        = @errors.join(", ")

    = suggestions

    = try :extra_field_content, :below, @form, @attribute
