-# frozen_string_literal: true

- if Baseline::Current.tailwind
  - active = tw_active_groups
  - all_start = active.all? { _1.align == :start }
  - start_groups = active.select { _1.align == :start }
  - center_groups = active.select { _1.align == :center }
  - end_groups = active.select { _1.align == :end }
  - tw_navbar_content = helpers.capture_haml do
    - if all_start
      = render_tw_hamburger
      = render_tw_brand
      - start_groups.each do |group|
        = render_tw_group_items(group)
      = content
    - else
      .navbar-start
        = render_tw_hamburger
        = render_tw_brand
        - start_groups.each do |group|
          = render_tw_group_items(group)
      - if center_groups.any?
        .navbar-center
          - center_groups.each do |group|
            = render_tw_group_items(group)
      .navbar-end
        - end_groups.each do |group|
          = render_tw_group_items(group)
        = content
  .navbar{ class: @css_class, data: @data }
    = tw_navbar_content
- else
  - navbar_content = helpers.capture_haml do
    - if @brand_url
      = link_to @brand, @brand_url, class: "navbar-brand"
    - else
      %span.navbar-brand
        = @brand
    %button.navbar-toggler{ type: "button", data: { bs_toggle: "collapse", bs_target: "##{@id}", aria: { controls: @id, expanded: "false", label: "Toggle navigation" } } }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse{ id: @id }
      - groups.select { _1.items.any? }.each do |group|
        %ul.navbar-nav{ class: group.css_class }
          = safe_join group.items
      = content

  %nav.navbar{ class: @css_class, data: @data }
    - if @container_css_class
      %div{ class: @container_css_class }
        = navbar_content
    - else
      = navbar_content
