-# frozen_string_literal: true

- if Baseline::Current.tailwind
  - active = tw_active_groups
  - raise "Tailwind navbar supports at most 3 groups, got #{active.size}" if active.size > 3
  - tw_navbar_content = helpers.capture_haml do
    - case active.size
    - when 0
      = render_tw_hamburger
      = render_tw_brand
      = content
    - when 1
      = render_tw_hamburger
      = render_tw_brand
      = render_tw_group_items(active[0])
      = content
    - when 2
      .navbar-start
        = render_tw_hamburger
        = render_tw_brand
        = render_tw_group_items(active[0])
      .navbar-end
        = render_tw_group_items(active[1])
        = content
    - when 3
      .navbar-start
        = render_tw_hamburger
        = render_tw_brand
        = render_tw_group_items(active[0])
      .navbar-center
        = render_tw_group_items(active[1])
      .navbar-end
        = render_tw_group_items(active[2])
        = content
  .navbar{ class: @css_class, data: @data }
    = tw_navbar_content
- else
  - navbar_content = helpers.capture_haml do
    - if @brand_url
      = link_to @brand, @brand_url, class: "navbar-brand"
    - else
      %span.navbar-brand
        = @brand
    %button.navbar-toggler{ type: "button", data: { bs_toggle: "collapse", bs_target: "##{@id}", aria: { controls: @id, expanded: "false", label: "Toggle navigation" } } }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse{ id: @id }
      - groups.select { _1.items.any? }.each do |group|
        %ul.navbar-nav{ class: group.css_class }
          = safe_join group.items
      = content

  %nav.navbar{ class: @css_class, data: @data }
    - if @container_css_class
      %div{ class: @container_css_class }
        = navbar_content
    - else
      = navbar_content
