-# frozen_string_literal: true

- case @type
- when :card

  :css
    ##{@id} {
      display: flex;
      text-decoration: none;
      width: 100%;
      max-width: 650px;
      min-height: 125px;
      aspect-ratio: 4 / 1;
      border: 1px solid #ccc;
      border-radius: 4px;
      overflow: hidden;
      container-type: inline-size;

      .preview-card-image {
        background: url("#{@image_url}") center/cover no-repeat;
        width: 25%;
      }

      .preview-card-content {
        flex: 1 1 0;
        min-width: 0;
        text-align: left;
        padding: 10px 15px;
        border-left: 1px solid #ccc;
        position: relative;
        background-color: white;
        color: #212529;

        .preview-card-title,
        .preview-card-description {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          line-height: 1.3;

          @container (min-width: 575px) {
            line-height: 1.5;
          }
        }

        .preview-card-title {
          font-size: max(1rem, 3cqi);
          font-weight: bold;
          margin-bottom: 5px;
        }

        .preview-card-description,
        .preview-card-website {
          font-size: max(0.85rem, 2.5cqi);
        }

        .preview-card-website {
          display: flex;
          align-items: center;
          row-gap: 5px;
          position: absolute;
          left: 15px;
          bottom: 5px;
          color: #666;

          img {
            height: 1em;
          }
        }
      }
    }

  = link_to @url, id: @id, **external_link_attributes do
    .preview-card-image
    .preview-card-content
      .preview-card-title
        = @title
      .preview-card-description
        = @description
      .preview-card-website
        = image_tag @website_image
        = @website

- when :youtube

  = component :iframe, @url

- else
  - raise "Unexpected partial: #{@type}"
