-# frozen_string_literal: true

- actions = helpers.capture_haml do
  .d-flex.flex-column.flex-sm-row.justify-content-sm-between.align-items-sm-center.gap-3.gap-sm-0
    - case
    - when helpers.previous_step != helpers.current_step
      = link_to helpers.wizard_path(helpers.previous_step), class: @back_css_class, data: { turbo_prefetch: false } do
        = component :icon, :back, style: :solid
        = t(:back).capitalize
    - when ::Current.modal_request
      = component :modal_close_button, wrapper: false
    - when @cancel_url
      = link_to @cancel_url, class: @back_css_class do
        = component :icon, :reject, style: :solid
        = t(:cancel).capitalize
    - else
      -# Add invisible submit button so that the flex layout works.
      .invisible.d-none.d-sm-block
        = submit_button

    .small.text-center.order-5.order-sm-1.d-flex.flex-column.align-items-center
      %div
        \~
        = @step_label
        #{helpers.step_number}/#{helpers.step_count}
        \~
      .progress.bg-primary.bg-opacity-25.w-100{ style: "height: 10px; max-width: 150px" }
        .progress-bar{ style: "width: #{helpers.step_progress}%" }

    = submit_button(css_class: "order-3 order-sm-2")

- case
- when ::Current.modal_request
  .d-none{ data: helpers.stimco(:modal, to_h: false).target(:footer_content) }
    .w-100
      = actions
- else
  .mt-4
    = actions
