-# frozen_string_literal: true

.d-flex.flex-column.flex-sm-row.justify-content-sm-between.align-items-sm-center.mt-4.gap-3.gap-sm-0
  - if helpers.previous_step != helpers.current_step
    = link_to helpers.wizard_path(helpers.previous_step), class: "btn btn-lg btn-outline-dark order-4 order-sm-0", data: { turbo_frame: "_self", turbo_prefetch: false } do
      = component :icon, :back, style: :solid
      = t(:back).capitalize

  - else
    -# Add invisible submit button so that "justify-content: between" works properly.
    .invisible.d-none.d-sm-block
      = submit_button

  .small.text-center.order-5.order-sm-1.d-flex.flex-column.align-items-center
    %div
      \~
      = @step_label
      #{helpers.step_number}/#{helpers.step_count}
      \~
    .progress.bg-primary.bg-opacity-25.w-100{ style: "height: 10px; max-width: 150px" }
      .progress-bar{ style: "width: #{helpers.step_progress}%" }

  = submit_button(css_class: "order-3 order-sm-2")
