-# frozen_string_literal: true

- if Baseline::Current.tailwind

  = component "admin/page_header", title: "Login", css_class: "mt-6"

  - if @oauth_available

    .border-b
      %p.mb-4
        Log in with your Google account:

      = form_with url: url_for, data: { turbo: false } do |form|
        = component :form_actions, form, style: :send, submit_label: "Let's go"

  %p.mb-4
    Log in with email and password:

  = form_with scope: :session, url: url_for do |form|
    = component :form_field, form, :email, :email, required: true
    = component :form_field, form, :password, :password, required: true

    = component :form_actions, form, style: :send, submit_label: "Log in"

- else

  %h1
    Login

  .row
    .col-md-6.col-lg-4

      - if @oauth_available

        .my-5.pb-5.border-bottom
          %p
            Log in with your Google account:

          = form_with url: url_for, data: { turbo: false } do |form|
            = component :form_actions, form, style: :send, submit_label: "Let's go"

      .mt-5
        %p
          Log in with email and password:

        = form_with scope: :session, url: url_for do |form|
          = component :form_field, form, :email, :email, required: true
          = component :form_field, form, :password, :password, required: true

          = component :form_actions, form, style: :send, submit_label: "Log in"

= render "baseline/dev_login"
